<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="game.site.wep.gameFiledMapper">
	<insert id="insert">
		insert into gamefile(filename,boardnum)
		values(#{filename},#{boardnum})
	</insert>
	
	<update id="update">
		update gamefile
		set filename = #{filename}
		where gfnum = #{gfnum}
	</update>
	
	<delete id="delete">
		delete from gamefile
		where gfnum = #{gfnum}
	</delete>
	
	<select id="selectOne" resultType="GameFile">
		select * from gamefile
		where gfnum = #{gfnum}
	</select>
	
	
	<select id="selectList" resultType="GameFile" >
		select * from gamefile
		WHERE boardnum = #{boardnum}
	
	</select>
	
	<select id="filecount" resultType="int">
		select count(*) cnt
		from gamefile
		WHERE boardnum = #{boardnum}
	
	</select>


</mapper>